{% extends 'base.html'%}

{% block librerias %}
    <title>Inicio - MyApp</title>
{% endblock %}


{% block contenido %}
<div class="container mt-5" >
    <div class="row">
        <div >
            <table id='productsTable' class='table display dataTable' width='100%'>
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre Producto</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Price</th>
                </tr>
                </thead>
            </table>
        </div>
   </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
    var datosTabla = $('#productsTable')
        
    datosTabla.DataTable({
            'processing': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url':'/tabla'
            },
            'lengthMenu': [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
            searching: true,
            sort: true,
            "serverSide": true,
            'columns': [
                { data: 'id' },
                { data: 'name_product' },
                { data: 'description' },
                { data: 'amount' },
                { data: 'price' },
            ]
        });
    });
    
</script>
{% endblock %}

