{% extends 'base.html'%}

{% block librerias %}
    <title>Inicio - MyApp</title>
{% endblock %}
{% block navbar %}
    
{% endblock %}

{% block contenido %}

    <div class="container" >
            
        <div class="row">
            <div class="col">
                <h1>Dashboard</h1>
                <div class="row">
                    Bienvenido 
                </div>
                    
                <table>
                    <!-- <tr>
                        {% for col in results %}
                            <td>{{ col }}</td>
                        {% endfor %}
                    </tr> -->
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block fooot %}

<div class="footer">
    <div class="row justify-content-center text-center">
        <div class="col-6 col-lg-3 offset-lg-1">
            <img src="https://sigedin.itp.edu.co/sigeitp/sigedin_excel/imagenes/Logo_ITP%20(1).png" alt="ITP" width="150" height="150">
        </div>
        <div class="col-6 col-lg-3 offset-lg-1">
            <a class="align-items-center link-dark text-decoration-none" href="/" aria-label="Bootstrap">
                <h3>Universidad</h3>
            </a>
            <a class="align-items-center link-dark text-decoration-none" href="/" aria-label="Bootstrap">
                Facultad de Ciencias
            </a><br>
            <a class="align-items-center link-dark text-decoration-none" href="/" aria-label="Bootstrap">
                Ingeniería de Sistemas
            </a><br>
            <a class="align-items-center link-dark text-decoration-none" href="/" aria-label="Bootstrap">
                Instituto Tecnológico del Putumayo
            </a>   
        </div>
        <div class="col-6 col-lg-3 offset-lg-1">
            <a class="align-items-center link-dark text-decoration-none" href="/" aria-label="Bootstrap">
                <h3>Desarrolladores</h3>
            </a>
            <a class="align-items-center link-dark text-decoration-none" href="/" aria-label="Bootstrap">
                Andrés Camilo Rodriguez
            </a><br>
            <a class="align-items-center link-dark text-decoration-none" href="/" aria-label="Bootstrap">
                Lauro Armando Mena
            </a><br>
            <a class="align-items-center link-dark text-decoration-none" href="/" aria-label="Bootstrap">    
            </a>
        </div>            
      </div>
  </div>
{% endblock %}

