{% extends 'base.html'%}

{% block librerias %}
    <title>Inicio - MyApp</title>
{% endblock %}
{% block navbar %}
    
{% endblock %}

{% block contenido %}

<div class="container mt-5" >
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for image in images %}
            <div class="col">
                <div class="card">
                <img src="./static/images/{{image[2]}}" class="card-img-top" alt="{{image[1]}}">
                <div class="card-body">
                    <h5 class="card-title">{{image[1]}}</h5>
                    <p class="card-text">Autor : {{image[5]}}</p>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}


{% block footer %}


{% endblock %}

